body header h1 {color:rgb(146, 181, 201);
text-shadow: 2px 2px rgba(0, 26, 255, 0.568)}
h1 {text-align:center;
background-image: url(https://cdn02.plentymarkets.com/2brofzsczyt8/item/images/172464/full/Tapete-Kinder-Karo-Rauten-Rasch-Textil-blau-weiss-.jpg);
padding-top: 100px ;
padding-bottom: 50px;
}
nav ul li { display: inline-block;
margin:45 px;}
body nav {background-color:rgb(146, 181, 201);}
nav ul li a{margin:150px;padding: 15px;color:white;text-decoration:none;}
section img {display:block;
width:200px;
height:200px;}
section1 img { display: block;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  left:500px;
  top:264px;
  width: 250px;
  height:200px ;}
section2 img { display: block;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  left:1090px;
  top:264px;
  width: 250px;
  height:200px ;}

section {background-color:rgba(128, 128, 128, 0.199);
width:400px;}
section p { font-size: 18px;
  color:white;
    width: 30%;
    position: absolute;
    left: 230px;
    top: 330px;
}

section2 p {background-color:rgba(128, 128, 128, 0.199);
color:white;
    font-size: 18px;
    height: 200px;
    position: absolute;
    top: 247px;
    width: 200px;
    right: 260px;
        text-align: center;
    padding: 15px;
    padding-top: 90px;
    height: 95px;}
.wallpaper {background-image: url(https://amita.in/image/cache/data/Wallpaper/Universal_3D/118700-312x312.jpg);
background-repeat: no-repeat;
background-position:right bottom;
background-size: 1500px 1500px}
footer {text-align:center;margin:30px;}
footer img {width:100px;height:50px;}
footer p {color:beige;}
footer a {text decoration : none;
color:blue;}